
<style>
    .validation-error{
      color:red;
    }
   
  </style>
  <div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
   <div class="card-header bg-success">
    <p class="h4">Register</p>
</div>
<div class="valid d-flex justify-content-center mt-5">
  <form [formGroup]="registrationFormGroup" (ngSubmit)="onSubmit()">
   
    <input type="text" formControlName="email" placeholder="email" /><br />
    <span
      class="validation-error"
      *ngIf="
        (formSubmitted || registrationFormGroup.controls.email.touched) &&
        registrationFormGroup.controls.email.errors?.required
      "
      >Email is required</span
    >
    <span
      class="validation-error"
      *ngIf="
        (formSubmitted || registrationFormGroup.controls.email.touched) &&
        registrationFormGroup.controls.email.errors?.email
      "
      >Please enter correct email id</span
    ><br />
    <input
      type="password"
      formControlName="password"
      placeholder="password"
      class="w-100"
    /><br />
    <span
      class="validation-error"
      *ngIf="
        (formSubmitted || registrationFormGroup.controls.password.touched) &&
        registrationFormGroup.controls.password.errors?.required
      "
      >Password is required</span
    >
    <span
      class="validation-error"
      *ngIf="
        (formSubmitted || registrationFormGroup.controls.password.touched) &&
        registrationFormGroup.controls.password.errors?.pattern
      "
      >Please enter strong password(Should have Uppercase, lowercase, numbers &
      special characters</span
    ><br />
  
    <button type="submit" class=" btn btn-danger">Submit</button>
  </form>
</div>
</div>
</div>
</div>
</div>
  